

/*--------------
   About Body CSS
----------------*/
#about {
    margin: 15px;
}

/*--------------------
   Portfolio Body CSS
---------------------*/

.row {
  margin-bottom: 20px;
}


/*-------------------------
   Contact Body CSS
-------------------------*/
#frm {
    margin-left: 5px;
}

#send {
  margin-top: 10px;
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  /*---------------------------------
             About Body CSS
---------------------------------*/
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}
